<%= javascript_include_tag ("home/index") %>
<%= stylesheet_link_tag("home") %>
<%= stylesheet_link_tag("console") %>
	
<% 
	@list = UserInfo.all.sort! {|a,b| b.points <=> a.points}
	@list = @list.delete_if { |x| x.username == 'guest'}
	last_point = @list.first.points
	rank = 1
	cnt = 0
	@list.each do |x|
		if x.points < last_point
			rank += cnt
			cnt = 0
			last_point = x.points
		end
		x.rank = rank
		cnt+=1
	end
%>
<br>
<div style='width: 100%; text-align:center'>
	<%= image_tag('logo_small.png') %>
</div>
<div class='red_bar'></div>
<table width=100% style='top: -57px;position: relative;'>
	<tr>
		<td>
			<div class="center_content">				
				<div id='profile' class='bar'>
					<table width='1040px'><tr>
						<td class='circle superShadow boxShadow'>
							<b class='rank_tag'>#</b>
							<b class='rank'>0</b>
						</td>
						<td></td>
						<td class='circle'>
							<%= render 'shared/rank_table' %>
						</td>
						<td></td>
						<td class='circle'>
							<b id='about' class='superShadow'>?</b>
						</td>
						<td></td>
						<td class='circle'>
							<b id='about' class='superShadow'>!</b>
						</td>
						<BR>
					</tr></table>
					<%= image_tag('arrow_down.png', :class=>"arrow", :onclick=>"scroll_up()")%>
				</div>
				
				<div id='main' class='bar'>
					<%= image_tag('arrow_up.png', :class=>"arrow", :onclick=>"scroll_down()")%>					
					<table width='1040px'><tr>
					<td class='circle'>
						<a class='menu_icon' id='egg' href='bootcamp'></a>
						<b class='description'>Boot Camp</b>
					</td>
					<td></td>
					<td class='circle'>
						<a class='menu_icon' id='puzzle' href='bank'> </a>
						<b class='description'>Question Bank</b>
					</td>
					<td></td>
					<td class='circle'>
						<a class='menu_icon' id='flag' href='ctf'> </a>
						<b class='description'>Capture The Flag</b>
					</td>
					<td></td>
					<td class='circle'>
						<a class='menu_icon' id='fist' href='pvp'> </a>
						<b class='description'>PvP</b>
					</td>
				</tr></table>
				</div>
			</div>
		</td>
	</tr>
</table>