<%= javascript_include_tag 'ctf/index' %>
<%= javascript_include_tag 'mousehold' %>
<%= stylesheet_link_tag 'ctf/index' %>

<%
	list = Ctf.all
	cnt = 0
%>
<br>
<div style='width: 100%; text-align:center'>
	<%= image_tag 'logo_small.png', :onclick => "location =  '/'", :style => "cursor: pointer" %>	
</div>

<div id='sandbox'>
	<div class='arrow left'></div>
	<div class='arrow right'></div>
	<div id='container'>				
		<% list.each do |c| %>
			<div class='circle small' style='background-image: url(<%= c.host.logo_path%>)'>
				<legend><%=cnt%></legend>
			</div>
			<% cnt += 1%>
		<% end %>		
	</div>
</div>
<br>

<script type="text/javascript">
	var max = <%= cnt-1%>;
</script>