<!DOCTYPE html>
<html>
<head>
	<title>CodeBattle</title>
	<link rel="shortcut icon" href="/assets/favicon.ico"/>	
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>	
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    "layout" %>
	<%= yield :head %>	
</head>
<body>
	<div style='float: right'>
		<% if user_signed_in? %>
			Signed in as <%= current_user.username %>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path, :style => 'color: white'%>
		<% end %>
	</div>
	<%= yield %>
	<center>
		<footer>Copyright Michael Go 2013 ggmichaelgo</footer>
	</center>
</body>
</html>
